.popup-box { 
  position: relative;
}
.title {
  font-weight: bold;
  font-size: 20px;
  position: absolute; 
}
.border-flow1{
  border-right: 2px solid #0af0f6;
    border-left: 2px solid #0af0f6;
    border-top: 2px solid #0af0f6;
}
.custom-btns{
  border-radius: 27px !important;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
    padding: 4px 16px !important;
    border: 2px solid #0af0f6 !important;
    margin-right: 4px;
    color: white !important;
    background-color: transparent;
    cursor: pointer;
}
.custom-btns:hover {
  background-color: #0af0f6 !important;
 color: black !important;
}
.border-flow2{
  border-left: 2px solid #0af0f6;
  background: rgb(29, 29, 29);
  border-right: 2px solid #0af0f6;
}
.border-flow3{
  border-right: 2px solid #0af0f6;
    border-left: 2px solid #0af0f6;
    border-bottom: 2px solid #0af0f6;
}
.custom-popup{
  background-color: transparent  !important;
}
.input-custom{
  padding: 30px 50px 30px 30px !important;
}
.semi-modal{
  height: unset !important;
  max-height: unset !important;
  overflow-y:  unset !important;
}
.action-btn{
  color: #0d9cce !important;
  border: 2px solid #0d9cce !important;
  margin-right: 7px !important;
}
.action-btn:hover {
  background-color: #0d9cce !important;
  color: black !important;
}
.custom-icons {
  margin-left: 35px;
}
.activity-head {
  width: 25%;
  color: #0d9cce;
  font-size: 18px;
  font-weight: 600;
}
.feild-tot{
  display: flex;
  color: white;
  padding: 14px 0px;
  background-color: #19b2e7bd;
  border-radius:13px;
}
.overall-tot:first-child{
  width: 48%;
  text-align: left;
  padding-left:12px ;
}
.overall-tot:first-child(2){
  width: 48%;
  text-align: left;
}
.acttab-1 {
  width: 32%;
  color: #c1c1c1;
}
.field-set {
  padding: 4px 0px;
}
.activity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px;
  margin-top: 1em;
}

.title {
  font-size: 50rem;
  font-weight: bold;
  color: black;
  margin-bottom: 16px; 
}

.popup-box .MuiIconButton-root {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
}
.popup-box label {
  font-weight: bold;
  color: black;
  border-radius: 20px;
}
.popup-box input[type="text"] {
  width: 70%;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-weight: bold;
}
.add-btn {
  padding: 6px 14px !important;
  font-weight: 600 !important;
  gap: 5px !important;
  border:2px solid #0d9cce !important;
  color: rgb(193, 193, 193) !important;
  border-radius: 10px !important;
}
.add-btn:hover {
  background-color: #0d9cce !important;
  color: black !important;
}
.popup-box .MuiButton-root {
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0;
}
.popup-box .MuiButton-root:first-child {
  background-color: violet;
}
.popup-box .MuiButton-root:last-child {
  background-color: lightgreen;
}
.lable{
  border-color: rgb(189, 189, 189);

}
