.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 420px;
  height: 400px;
    flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
    background: #1d1d1d;
    padding: 20px;
}
.chart-container:hover {
  box-shadow: #0d9cce 1px 1px 13px -1px;
}
.chart-container h2{
  color: #3bb9e5;
  margin-bottom: 81px;
}
.divide-section{
  padding-bottom: 15px;
  padding-right: 12px;
  padding-top: 15px;
  display: flex;
  overflow-x: scroll;
  margin-top: 30px;
  justify-content: space-between;
  gap: 40px;
}
.divide-section::-webkit-scrollbar{
 display: none;
}
.user-name{
  color: #c1c1c1;
  letter-spacing: 1px;
}
.chart-wrapper {
  width: 446px;
  height: 247px;
}
.wrap-flex {
  display: flex;
  align-items: center;
  gap: 60px;
  overflow-x: scroll;
}
.wrap-flex::-webkit-scrollbar{
  display: none;
}
