/* Cards.css */
.card {
  background-color: rgb(248, 25, 25);
  border-radius: 10px;
  width: 146px;
  min-height: 155px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: 
  center;
  align-items: center;
}

.card h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0px;
}
.card:first-child h3 {
 
  font-size: 20px;

}
.card:first-child p {
 
  font-size: 40px;

}
.card p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card1 {
  background-color: #ec442b;
  align-items: center;
  justify-content: center;
}

.card2 {
  background-color: #009E56;
  align-items: center;
}

.card3 {
  background-color: #219ab7;
  align-items: center;
}

.card4 {
  background-color: #1073ad;
}

.card-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    gap: 25px;
    padding: 10px;
}

.progress-bar {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e5e5e5;
  overflow: hidden;
}

.progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 100px, 100px, 50px);
}

.progress-circle-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F56954;
  transform-origin: center center;
  animation: progress-animation 1s ease forwards;
}

@keyframes progress-animation {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(calc(270deg * var(--progress)));
  }
}



