
.success-message{
  margin-bottom: 15px !important;
  color: #0bb7f3 !important;
  font-size: 18px !important;
}
.pwd-title{
  color: #c1c1c1;
}
.content label{
color: #c1c1c1 !important;
background-color: transparent;
}
.label-title{
  border-radius: 2px;
  border: 1px solid rgb(37, 167, 170)  !important;
}
.content input {
  color: #c1c1c1;
}
.content {
  background-color: #1d1d1d;
  /* background-color: #1d1d1d; */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
  max-width: 500px;
  transition:0.8s all ease-in-out;
}
.content:hover {
  box-shadow: #0d9cce 0px 0px 26px -6px;
  
}
.buttonBox {
  margin-top: 40px !important;
  font-size: 18px;
  color: #c1c1c1 !important;
  border: 2px solid rgb(37, 167, 170) !important;
  background-color: transparent !important;
  padding: 6px 14px !important;
  border-radius: 10px !important;
}
.buttonBox:hover {
  background-color: rgb(37, 167, 170) !important;
  color: white !important;
}

.pwd-hint{
  font-size: 17px;
  color: #d12121;
  font-weight: 700;
}
.error-message {
  color: #d12121;
  position: absolute;
 margin-top: 10px;
 bottom: 64px;
}