
.client-titles{
    color: #c1c1c1;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    font-size: 20px;
}
.client-names{
    padding-left: 0px;

}
.client-part {
    min-width: 220px;
    min-height: 171px;

    padding: 15px;
    border: 1px solid  #0af0f6;
    background: #1d1d1d;
    border-radius: 13px;
}
.client-part:hover {
    box-shadow: #0d9cce 1px 1px 13px -1px;
    border: none;
}
.top-names{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #c1c1c1;
    list-style: none;
    margin-bottom: 8px;
    
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 4px;
}
.top-names:hover{
   color: #0af0f6;
}