.component-manager {
  padding: 50px 20px 20px 20px;
}

.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  border-radius: 4px;
  
}
.default-badge {
  color: white;
    margin-right: 18px;
}
.component p{
  color: #c1c1c1;
  font-size: 16px;
}
.component h3 {
  margin: 0;
}

.component-buttons {
  display: flex;
  align-items: center;
}

.component-buttons > * {
  margin-left: 5px;
}
.component-items{
  background: #1d1d1d;
  border-radius: 22px;
  margin-bottom: 10px;
}
.component-items:hover{
  box-shadow: #0d9cce 0px 0px 14px -1px;
}
.component-divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
.component-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.component-title h2{
 
  color: rgb(37, 167, 170);
}
.button-container {
  margin-top: 10px;
}

.add-component-button {
  border: 2px solid rgb(37, 167, 170);;
  color: #c1c1c1;
 background-color: transparent;
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.add-component-button:hover {
  background-color: rgb(37, 167, 170);;
  color: white;
}
.edit-button,
.delete-button {
  color: white;
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #e53935;
}
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.confirm-para {
  margin-bottom: 0px !important;
}
.modal input {
  border: 1px solid #ccc;
  border-radius: 10px;
 width: 100%;
 padding: 10px 10px 10px 15px;
  background-color: #ffffffe3;
}

.modal-button {
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0d9cce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.component-table {
  width: 100%;
  border-collapse: collapse;
}

.component-table th,
.component-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.component-table th {
  background-color: #f2f2f2;
}

.component-table tbody tr:hover {
  background-color: #f5f5f5;
}
.edit-button:hover,
.delete-button:hover {
  background-color: rgb(37, 167, 170);
}
.edit-button:hover svg,
.delete-button:hover svg {
  color: black;
}
.edit-button,
.delete-button {
  padding: 3px 6px;
  margin-right: 8px;
 background-color: transparent;
 border: 2px solid rgb(37, 167, 170);;
 color: white;
  border-radius: 100px;
  cursor: pointer;
}
.edit-button svg,.delete-button svg {
  color: rgb(37, 167, 170);;
}
.set-define{
  display: flex;
  align-items: center;
}
.default-button {
  padding: 6px 6px;
  margin-right: 8px;
 background-color: transparent;
 border: 2px solid rgb(37, 167, 170);;
 color: #f2f2f2;
  border-radius: 100px;
  cursor: pointer;
}
.default-button:hover {
  background-color: rgb(37, 167, 170);;
  color: black;
}