.container {
  text-align: center;
  margin-top: 45px;
}
.selection {
  padding: 0px 5px;
  background-color: white;
}
#complexity-select{
  color: white;
}
#complexity-select-label{
  color: white;
}
.button {
  margin-bottom: 20px;
  display: block !important;
  margin-top: 30px !important;
}
.button-complex{
  margin-bottom: 20px;
  display: block !important;
  margin-top: 30px !important;
  padding: 5px 20px !important;
  border-radius: 100px !important;
  border: 2px solid rgb(37, 167, 170) !important;
  margin-top: 35px !important;
  color: #c1c1c1;
  background-color: transparent !important;
}

.button-complex:hover{
  background-color:rgb(37, 167, 170) !important;
  color: white !important;
}
#days-select{
  color: white;
}
.complexity-label {
  text-align: left;
  color: #c1c1c1;
  margin-top: 20px;
  font-size: 20px;
}
#days-select-label{
  color: white;
}
.form-control {
  border: 1px solid rgb(37, 167, 170)  !important;
  min-width: 500px;
  margin-top: 36px !important;
  width: 30% !important;
  margin-right: auto !important;
  display: flex !important;
}

.form-control:hover,.form-control:focus {
  border: 1px solid rgb(37, 167, 170);
}
.modal-content {
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.close-button {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #ccc;
}
