.descript-box {
    background-color: transparent;
    min-width: 200px;
}
.differ-1{
    min-width: 137px;
}
.differ-2 {
    min-width: 100px;
}
.differ-3{
    min-width: 100px;
    color: white;
}
.differ-4{
    min-width: 120px;
}
#modular-components-table{
    margin-bottom: 30px;
}
.summary-title{
    color:#0af0f6;
}
.estimate-heading{
   
    color: #c1c1c1;
}
.inform-btns{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}
.inform-btns button{
    background-color: transparent;
    border: 2px solid #0af0f6 !important;
    padding: 6px 11px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius:30px;
}
.inform-btns button:hover{
    background-color: #0af0f6 !important;
    
    color: black !important;
}

.estimate-head{
    color: #0af0f6;
}
.estimate-headers button{
   color: white;
    cursor: pointer;
    padding: 11px 11px;
    border: none;
}
.table-overall{
    max-width: 480px;
}
.overall-cost{
    padding: 5px 10px;
    background-color: #ffffffe3;
    border-radius: 15px;
}