
.client-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 35px 45px;
  border-radius: 30px;
  background: #1d1d1d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.8s all ease-in-out;
}
.client-form:hover {
  box-shadow: #0d9cce 0px 0px 26px -6px;
}
.heading-title {
  color: #c1c1c1;
  font-size: 30px;
}
.client-form p {
  font-size: 20px;
  color: #c1c1c1;
  font-weight: bold;
  margin-bottom: 25px;
}

.client-form div {
  margin-bottom: 25px;
  display: flex;
}
.title {
  font-size: 25px;
}

.client-form label {
  font-weight: bold;
  color: #25a7aa;
  width: 35%;
}

.client-form input {
  width: 100%;
  background: transparent;
    color: white;
  height: 5px;
  padding: 13px 15px;
  font-size: 16px;
  border: 3px solid #6d6a6a;
  border-radius: 100px;
  align-items: center;
}
:focus {
  outline: none;
}
textarea{
  resize: none;
  border: 3px solid #6d6a6a;
  width: 100%;
  border-radius: 6px;
  background: transparent;
    color: white;
  padding: 10px;
}
.client-form button {
  display: block;
  margin-top: 65px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #25a7aa;
  background-color: transparent;
  border: 2px solid #25a7aa;
  border-radius: 100px;
  cursor: pointer;
}
.client-form button:hover {
  background-color: #25a7aa;
  color: white;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  border: 2px solid #25a7aa;
    background-color: #1d1d1d;
  padding: 35px 50px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px; 
  text-align: center;
}

.popup-content p {
  margin-bottom: 15px;
  color: white;
}

.popup-content button {
  border: 3px solid #0af0f6;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  padding: 8px 20px;
  font-weight: 600;
  cursor: pointer;
}
.popup-content button:hover {
  background-color: #0af0f6;
  color: black;
}

