.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  background-color: white;
  border-radius: 5px;
  padding: 20px!important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)!important;
  max-width: 400px;
  overflow-y: initial !important;
}
.mr-29{
  margin-right: 25px;
}
.undo-justify {
  justify-content: unset !important;
}
.estimate-new{
  padding: 2px 0px !important;
}
.estimate-new:hover{
  box-shadow: #0d9cce 1px 1px 13px -1px;
}
.recent-estimate{
  width: 60%;
}
.recent-estimate h2{
  color: #3bb9e5;
  letter-spacing: 1px;
}
.modal h2 {
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.modal p {
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
  
}

.modal button {
  border-radius: 27px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 25px;
    padding: 7px 25px;
    border: 2px solid #0af0f6;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.modal button:hover{
  background-color: #0af0f6;
  color: #0af0f6;
 color: black;
 }
.index-num{
  padding-left: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.mr-14 {
  margin-right: 14px;
}
/* Table Styles */
.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.field-set{
  background: #1d1d1d;
  padding: 10px 0px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 17px;
  color: #c1c1c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field-set:hover{
  box-shadow: #0d9cce 0px 0px 14px -1px;
}
.align-l-p{
  padding-right: 12px;
}
.app-btn{
  border-radius: 100px;
  padding: 5px 15px;
  background-color: transparent;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border: 2px solid green;
}
.rej-btn {
  border-radius: 100px;
  padding: 5px 15px;
  background-color: transparent;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border: 2px solid red;
}
.view-btn {
  display: flex;
  align-items: center;
  height: 37px;
  gap: 4px;
  color: white;
  border-radius: 100px;
  font-size: 14px;
  padding: 2px 8px;
  cursor: pointer;
  border: 2px solid #0af0f6;
  background-color: transparent;

}
.view-btn:hover  {
  color: black;
  background-color: #0af0f6;


}
.view-btn svg {
  font-size: 20px;
}
.disable-rej {
  border-radius: 100px;
  padding: 5px 15px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: red;
}
.disable-app {
  border-radius: 100px;
  padding: 5px 15px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: green;
}
.rej-btn:hover {
  background-color: red;
}
.app-btn:hover{
 background-color: green;
}
table th,
table td {
  padding: 11px 0px 10px 14px;
  color: white;
  text-align: left;
}

table th {
  font-weight: bold;
  color: white;
  font-size: 16px;
}

table td.actions {
  white-space: nowrap;
}

table td.actions button {
  margin-right: 5px;
}

table td.view-button {
  white-space: nowrap;
}
.input-list{
  width: 17%;
  background-color: #c1c1c1;
  padding: 7px 15px;
  border: none;
  border-radius: 30px;
  margin-bottom: 15px;
}

.input-list::placeholder{
  color: black;
  font-size: 14px;
}
.search-btn{
 border: 2px solid #0af0f6;
 justify-content: center;
 background-color: transparent;
  color: white;
  font-weight: 600;
 
  font-size: 14px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}
.filters-container{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.search-btn:hover{
  background-color: #0af0f6;
  color: black;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
}
.list-headers{
  display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 10px;
}
.list-tabs {
  overflow-y: scroll;
  height: 700px;
  padding: 3px;
}
.list-tabs::-webkit-scrollbar {
  
  display: none;
}
.head-serial{
  width: 5%;
}
.head-date{
  width: 14%;
}
.head-name{
  width: 20%;
}
.head-by{
  width: 18%;
}
.head-status{
  width: 16%;
  text-align: center;
}
.head-action{
  width: 22%;
  width: 22%;
    display: flex;
    justify-content: center;
}
.head-view{
  width: 7%;
}
.field-set .head-name{
  color: #0d9cce;
  cursor: pointer;
}
.field-set:hover .head-name{
  color: #0af0f6;
}