/* GeneralSettings.css */

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    overflow-y: unset !important;
    align-items: center;
  }
  
  /* Modal */
  .modal {
    border: 2px solid #25a7aa;
    background-color: #1d1d1d;
    overflow-y: initial !important;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-top: 0;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal form div {
    margin-bottom: 10px;
  }
  
  .modal form label {
    font-weight: bold;
  }
  
  .modal form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .modal-buttons button {
    margin-left: 5px;
  }
  