.ig-logo {
    height: 75px;
    position: absolute;
    top: -39px;
    border-radius: 44px;
}
.login-component{
    height: 100vh;
    /* background: linear-gradient(145deg, #095673,#209093, #126380); */
    background: linear-gradient(145deg, #1a4c60,#28c4c8, #126380);
    padding-top: 30px;
}
.input-container{
    position: relative;
}
.user-icon{
    font-size: 80px !important;
    color: lightgrey;
    margin-top: 30px;
    border: 3px solid #0db0b6;
    border-radius: 100%;
}
.input-icon{
    position: absolute;
    height: 23px;
    color: lightgrey;
    top: 28px;
    left: 11px;
    padding-right: 4px;
    border-right: 3px solid;
}
.input-container input{
    height: 16px;
    border-radius: 12px;
    padding-left: 50px !important;
    background: #424f77 !important;
color: white !important;
    outline: none;
    border: none;
}
.input-field[type="email"]{
    color: lightgrey !important;
}
.input-field:focus{
 box-shadow: none;

}
