.render-component {
    width: calc(100% - 355px);
    margin-left: auto;
    position: relative;
    background: linear-gradient(45deg, rgb(18, 18, 18), rgb(18, 18, 18), rgb(18, 18, 18));
    padding: 34px 34px 34px 139px;
    min-height: 100vh;
}