/* CSS styles for the left-side menu bar */
.menu {
  height: 94vh;
  padding: 20px;
  background: linear-gradient(145deg, #1a7293,#0c789d, #0d9cce);
   /* background: linear-gradient(45deg, #0981ac,#0db0b6, #1888af); */
 color: white;
 font-weight: 500;
 border-top-right-radius: 26px;
 border-bottom-right-radius: 26px;
}
 
