.profile-icon svg{
    font-size: 60px;
    border-radius: 100%;
    border: 3px solid white;
    cursor: pointer;
}
.profile-icon {
    text-align: center;
    margin-top: 34px;
    color: #0af0f6;
    
}
.pop-user{
    background:#1d1d1d;
}
.pop-user h2{
    color: #c1c1c1;
    font-weight: 500;
}
.pop-user h2{
    color: #c1c1c1;
    font-weight: 500;
    margin-top: 4px;
}
.logout-btn{
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    margin-bottom: 0px;
}
.logout-btn:hover{
    color: #0af0f6;
}
.pwd-btn {
    color: #c1c1c1;
    text-decoration: none;
}
.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 9px;
}
.box-detail {
    border-bottom: 2px solid #c1c1c1;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.box-detail p{
   margin: 0;
    color:#0af0f6;
}
.mail-info div{
    color:#c1c1c1;
}
.name-info div{
    color:#c1c1c1;
}
.role-info div{
    color:#c1c1c1;
}