body {
    background-color: #e3edf7;
    height: 100vh;
    display: flex;
    align-items:center;

}

.skill {
    width: 160px;
    height: 160px;
    background-color: orangered;
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border: 1px solid orangered;
    border-radius:50%

}