.work-item-container {
  margin-top: 20px;
  overflow: scroll;
  overflow-y: hidden;
}
.work-item-container::-webkit-scrollbar {
  /* display: none; */
}
.workitem-tab{
  color: white;
  background: #211d1d;
  border-radius: 56px;
  border-bottom: 2px solid white;
}
.workitem-tab:last-child{
  border-bottom: none;
}
.work-item-table .workitem-data{
 border: none;
 color: white;
}
.disable-delete{
  cursor:not-allowed;
  background-color: #0af0f6;
  opacity: 0.8;
  color: black;
  border-radius: 100%;
  height: 23px;
  padding: 10px;
  color: black;
 
}
.work-item-table th,
.work-item-table td {
  padding: 10px 10px;
  text-align: left;
}
.work-item-table th {
  font-size: 12px;
  background: none !important;
  font-weight: bold;
  color: white;
}

.work-item-table td input,
.work-item-table td select {
  padding: 6px;
}
.workitem-data input[type="number"]{
  background-color: #ffffffe3;
  border-radius: 15px;
}
.work-item-table td input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 15px;
  inline-size: auto;
  background-color: #ffffffe3;
}
.workitem-title{
  color: #0d9cce ;
}
.workitem-data select {
  border: none;
  color: white;
  background-color: #1d1d1d;
  cursor: pointer;
}
.work-item-table .final-effort {
  font-weight: bold;
}
.delete-row-button{
  border-radius: 100%;
  height: 44px;
  padding: 10px;
  border: none;
  color: black;
  background-color: #0af0f6;
  cursor: pointer;
}
.delete-row-button:hover{
 background-color: transparent;
 color: #0af0f6;
 border: 2px solid #0af0f6;
}
.add-row-button,
.submit-button {
  border: 2px solid #0d9cce ;
  margin-top: 30px;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
 margin-bottom: 20px;
}
.add-row-button:hover,
.submit-button:hover {
  background-color: #0d9cce;
  border: none;
  color: white;
}
.col-2,.col-3 {
  max-width: 95px;
}
.col-4{
  max-width: 120px;
}
.col-6{
  width: unset;
  color: black;
  border: none;
  border-radius: 10px;
  background-color: #ffffffe3;
}
.col-5{
  max-width: 140px;
}
.col-9,.col-10{
  max-width: 72px;
}
.items-row {
  background-color: #1d1d1d;
}